$backgroundIMG: url('../../images/star-destroyer.png');
@font-face {
  font-family: 'Jedi';
  src: url('starjedi_Starjedi.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body { 
    background: $backgroundIMG no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Jedi';
  }

 