@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: black;
 }

 .hide {
   display: none;
 }

 #auth {
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  width: 400px;
}

.user-info-nav {
  padding: 5px;
  margin-right: 10px;
}

.user-info-nav {
  padding: 5px;
  margin-right: 10px;
}

#navbar-logout-button {
  color: white;
}

#p-dashboard {
  color: white;
  text-align: center;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.logoutCards {
  padding-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.personnel {
  padding-top: 30px;
}